﻿@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="jumbotron">
        <h1>Balance</h1>

        <h2>Resumen por Categorias</h2>

        
    </div>

    <div>
        <table>
            <tr>
                <th>Categoria</th>
                <th>Saldo</th>
            </tr>
            <tr>
                <td>Remuneracion</td>
                <td>Valor</td>
            </tr>
            <tr>
                <td>Bonos</td>
                <td>Valor</td>
            </tr>
            <tr>
                <td>Alimentacion</td>
                <td>Valor</td>
            </tr>
            <tr>
                <td>Transporte</td>
                <td>Valor</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>Valor</td>
            </tr>
        </table>
    </div>
</body>
</html>
