﻿@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="jumbotron">
        <h1>Mis Transacciones</h1>

        <h2>Registro de Ingresos y Gastos</h2>

        <div id="">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Fecha Inicio</label>
                    <input type="date" class="form-control" id="txtFechaI">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Fecha Final</label>
                    <input type="date" class="form-control" id="txtFechaF">
                </div>
            </form>
        </div>
        <button class="btn btn-default" id="btnBuscar">Buscar</button>
        <button class="btn btn-default" id="btnNuevo">Nuevo</button>
    </div>

        <div>
            <table id="tblTransaccion" class="table table-striped"></table>
        </div>

        <div id="popup" class="hide" >
            <form>
                <div class="form-group">
                    <label>Categoria</label>
                    <select id="ctSelect" name="ctSelect"></select>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Tipo Transaccion</label>
                    <select id="trtSelect" name="trtSelect"></select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Descripcion</label>
                    <input type="text" class="form-control" id="txtDescripcion" placeholder="Ingrese Descripcion">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Fecha Registro</label>
                    <input type="date" class="form-control" id="txtFecha" placeholder="Ingrese Notas">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Valor</label>
                    <input type="number" class="form-control" id="txtvalor" placeholder="Ingrese Monto">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Notas</label>
                    <input type="text" class="form-control" id="txtNotas" placeholder="Ingrese Notas">
                </div>

                <button type="button" class="btn btn-primary" id="saveTR">Guardar</button>
            </form>

        </div>

</body>
<script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/js/Balance.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
</html>
