﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Balance</h1>
    <p class="lead">Bitacora de mis Ingresos y Gastos.</p>
    <p>Seleccione un Usuario</p>
    <select id="clSelect" name="clSelect">
       
    </select>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Resumen</h2>
        <p>
            Ver el resumen de mi Balance
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Balance")">Ir a Balance</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registrar</h2>
        <p>Revise su Balance o Ingrese nuevas Transacciones</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Registrar")">Ir a Registrar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Categoria</h2>
        <p>Agregue o revise los Rubros Disponibles.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Categoria")">Ir a Categoria</a></p>
    </div>
</div>

<script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/js/Index.js"></script>